<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.nodeclipse.enide.gradle.launch.android.LaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/cetera}"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
